@import '../root/root.css';

.light-container {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    padding-bottom: 100px;
    position: fixed;
    overflow-y: auto;
}

.light-link {
    text-decoration: none;
    color: black;
}

.light-card {
    background-color: #f2f2f2;
}

.light-text {
    color: #212228;
}

.light-green-text {
    color: #7B9168;
}

.light-pin-able {
    color: var(--black);
}

.light-pin-unable {
    color: #afafaf;
}
