@import '../root/root.css';

.dark-container {
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    padding-bottom: 100px;
    position: fixed;
    overflow-y: auto;
}

.dark-link {
    text-decoration: none;
    color: white;
}

.dark-card {
    background-color: #292D3E;
}

.dark-text {
    color: var(--white);
}

.dark-green-text {
    color: #7B9168;
}

.dark-button-primary {
    color: var(--light-orange);
    border: 1px solid var(--light-orange);
}

.dark-button-primary:hover {
    color: var(--black);
    border: 1px solid var(--light-orange);
    background-color: var(--light-orange);
}

.dark-pin-able {
    color: var(--white);
}

.dark-pin-unable {
    color: var(--light-gray);
}

.dark-bordered {
    border: 1px solid var(--white);
}
